.TaskForm {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 70%;
  margin: auto;

  label {
    margin-top: 1em;
    font-weight: 600;
    align-self: flex-start;
  }

  .Button {
    margin-top: 1em;
  }

}